.theme-dark {
  background-color: #1a202c;
  color: #cbd5e0;
}
.theme-dark input {
  background-color: #2d3748;
  color: #cbd5e0;
}
.theme-dark button {
  background-color: #2d3748;
  color: #cbd5e0;
}
.input-effect {
  transition: all 0.3s ease-in-out;
}
.input-effect:focus {
  transform: scale(1.05);
}
